@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600;700&display=swap');

.sub-texto{
    font-family: 'Oswald', sans-serif;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 900;
    font-size: 3rem;
}