@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500;600;700&display=swap');


.cente{
    text-align: center;
    margin-top: 2rem;
}
.input-busqueda {
    margin-top: 1rem;
    width: 70% !important;
    font-size: 25px !important;
    color: #474747;
    font-family: 'Oswald', sans-serif;
    border-top: #fff !important;
    border-left: #fff !important;
    border-right: #fff !important;
    border-bottom: 4px solid #474747 !important;
    box-shadow: none !important;
}
.input-busqueda:focus{
    border-top: #fff;
    border-left: #fff;
    border-right: #fff;
    border-bottom: 4px solid #474747 !important;
    box-shadow: none !important;
}

span {
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
    color: #363334;
}


